<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<div class="container">
<div class="main">
	<div class="shoping_bag">
		<h4><img src="images/small.jpg">Giày trong vỏ hàng <span> 1 Sản Phẩm</span></h4>
		<ul class="s_art">
			<li><img src="images/art1.png"></li>
			<li><span> 1 Sản Phẩm</span></li>
		</ul>
		<div class="clearfix"></div>
	</div>
	<div class="shoping_bag1">
		<div class="shoping_left">
			<div class="shoping1_of_1">
				<img src="images/7.jpg"  class="img-responsive" alt="" />
			</div>
			<div class="shoping1_of_2">
				<h4><a href="#">Giày Bitis</a> </h4>
				<span>cỡ <b>xl</b>&nbsp;&nbsp; số lượng <b>1</b> | mã :1175</span>
				<ul class="s_icons">
					<li><a href="#"><img src="images/s_icon1.png" alt=""></a></li>
					<li><a href="#"><img src="images/s_icon2.png" alt=""></a></li>
					<li><a href="#"><img src="images/s_icon3.png" alt=""></a></li>
				</ul>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="shoping_right">
			<p>giảm 35% &nbsp;<span> 750.000đ</span></p>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="shoping_bag1">
		<div class="shoping_left">
			<h2><a href="#"><img src="images/gift.jpg">Đóng gói </a> <span> 10.000đ</span></h2>
		</div>
		<div class="shoping_right">
			<p>Tổng đóng gói và sản phẩm&nbsp;<span> 760.000đ</span></p>
			<p>Thuế &nbsp;<span> 5.000đ</span></p>
			<p>Phí giao hàng &nbsp;<a href="#">miễn phí</a>&nbsp;<span> 0đ</span></p>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="shoping_bag1">
		<div class="shoping_left">
			<h2><a href="#"><img src="images/login.jpg">Đăng nhập </a> <span>để dùng khuyến mãi</span></h2>
		</div>
		<div class="shoping_right">
			<p>Mã khuyến mãi &nbsp;<span class="color"> 0đ</span></p>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="shoping_bag2">
		<div class="shoping_left">
			<a class="btn1" href="details.html">Đặt hàng</a>
		</div>
		<div class="shoping_right">
			<p class="tot">Tổng &nbsp;<span class="color"> 765.000đ</span></p>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
</div>