<!-- details -->
<div class="details">
<div class="container">
<div class="row single">
<div class="col-md-9">
				  <div class="single_left">
				 <img class="etalage_thumb_image" src="images/d3.jpg" style="display: inline; width: 300px; height: 400px; opacity: 1;">
				  <div class="desc1 span_3_of_2">
					<h3>Giày Nike</h3>
					<p>1.299.000đ <a href="#">Nhấn để đặt hàng</a></p>
					<div class="det_nav">
						<h4>Mẫu giày :</h4>
						<ul>
							<li><a href="#"><img src="images/1.jpg" class="img-responsive" alt=""/></a></li>
							<li><a href="#"><img src="images/12.jpg" class="img-responsive" alt=""/></a></li>
							<li><a href="#"><img src="images/3.jpg" class="img-responsive" alt=""/></a></li>
							<li><a href="#"><img src="images/ss2.jpg" class="img-responsive" alt=""/></a></li>
						</ul>
					</div>
					<div class="det_nav1">
						<h4>Kích cỡ:</h4>
							<div class=" sky-form col col-4">
								<ul>
									<li><label class="checkbox"><input type="checkbox" name="checkbox"><i></i>L</label></li>
									<li><label class="checkbox"><input type="checkbox" name="checkbox"><i></i>S</label></li>
									<li><label class="checkbox"><input type="checkbox" name="checkbox"><i></i>M</label></li>
									<li><label class="checkbox"><input type="checkbox" name="checkbox"><i></i>XL</label></li>
								</ul>
							</div>
					</div>
					<div class="btn_form">
						<a href="buy.html">Mua hàng</a>
					</div>
					<a href="#"><span>Đăng nhập để đưa vào vỏ hàng </span></a>
					
			   	 </div>
          	    <div class="clearfix"></div>
          	   </div>
          	    <div class="single-bottom1">
					<h6>Details</h6>
					<p class="prod-desc">Runner's Sport luôn nỗ lực mang đến trải nghiệm mua sắm tuyệt vời dành cho phái đẹp từ sự đa dạng sản phẩm, mẫu mã thời thượng, cửa hàng hiện đại, sang trọng và những dịch vụ hậu mãi không ngừng được hoàn thiện. Theo đó, Runner's Sport đã cải tiến và áp dụng Chính sách bảo hành trọn đời dành cho tất cả khách hàng mua sắm tại các cửa hàng Runner's Sport trên toàn quốc và mua online tại rns.com</p>
				</div>
				<div class="single-bottom2">
					<h6>Các loại sản phẩm</h6>
						<div class="product">
						   <div class="product-desc">
								<div class="product-img">
		                           <img src="images/12.jpg" class="img-responsive " alt=""/>
		                       </div>
		                       <div class="prod1-desc">
		                           <h5><a class="product_link" href="#">Giày chạy bộ</a></h5>
		                           <p class="product_descr"> Gọn nhẹ đẹp</p>									
							   </div>
							  <div class="clearfix"></div>
					      </div>
						  <div class="product_price">
								<span class="price-access">1.399.000đ</span>								
								<button class="button1"><span>Thêm vào giỏ</span></button>
		                  </div>
						 <div class="clearfix"></div>
				     </div>
					  <div class="product">
						   <div class="product-desc">
								<div class="product-img">
		                           <img src="images/9.jpg" class="img-responsive " alt=""/>
		                       </div>
		                       <div class="prod1-desc">
		                           <h5><a class="product_link" href="#">Giày Sneaker</a></h5>
		                           <p class="product_descr"> Mang đi học đi chơi đều đẹp</p>									
							   </div>
							   <div class="clearfix"></div>
					      </div>
						  <div class="product_price">
								<span class="price-access">700.000đ</span>								
								<button class="button1"><span>Thêm vào giỏ</span></button>
		                  </div>
						 <div class="clearfix"></div>
				     </div>
				     <div class="product">
						   <div class="product-desc">
								<div class="product-img">
		                           <img src="images/8.jpg" class="img-responsive " alt=""/>
		                       </div>
		                       <div class="prod1-desc">
		                           <h5><a class="product_link" href="#">Giày móng đá bóng</a></h5>
		                           <p class="product_descr"> Gọn nhẹ, bám sát chân</p>									
							   </div>
							   <div class="clearfix"></div>
					      </div>
						  <div class="product_price">
								<span class="price-access">1.350.000đ</span>								
								<button class="button1"><span>Thêm vào giỏ</span></button>
		                  </div>
						 <div class="clearfix"></div>
				     </div>
		   	  </div>
	       </div>	
<div class="col-md-3 span_1_of_right">
				   <section  class="sky-form">
				   <div class="product_right">
     				<h3 class="m_2">Bộ Lọc</h3>
     			    <select class="dropdown" tabindex="10" data-settings='{"wrapperClass":"metro"}'>
            			<option value="0">Nam</option>	
						<option value="1">Du lịch</option>
						<option value="2">Thể thao</option>
						<option value="3"> Thời trang</option>
		           </select>
				   <label class="me"></label>
				   <select class="dropdown" tabindex="50" data-settings='{"wrapperClass":"metro"}'>
						<option value="1">Nữ</option>
						<option value="2">Du lịch</option>
						<option value="3">Thể thao</option>
						<option value="4">Thời trang</option>
			       </select>
				    <label class="wom"></label>
				   <select class="dropdown" tabindex="8" data-settings='{"wrapperClass":"metro"}'>
						<option value="1">Trẻ em</option>
							<option value="2">Du lịch</option>
						<option value="3">Thể thao</option>
						<option value="4">Thời trang</option>
			       </select>
				    <label class="kid"></label>
			       <select class="dropdown" tabindex="8" data-settings='{"wrapperClass":"metro"}'>
						<option value="1">Tiêu chí</option>
						<option value="2">Chống nước</option>
						<option value="3">Gọn nhẹ</option>
						<option value="4">Thoáng</option>
			       </select>
				    <label class="spo"></label>
</div>
						
				</section>
						<div class="sellers">
							<h3 class="m_2">Khuyến mãi</h3>
								<div class="best">
									<div class="icon">
										<img src="images/1.jpg" class="img-responsive" alt=""/>
									</div>
									<div class="data">
										<h4><a href="#">Giày Jordan Nike 17 </a></h4>
										<p>1.750.000đ</p>
										<h5>1.250.000đ</h5>
									</div>
									<div class="clearfix"></div>
								</div>	
								<div class="best">
									<div class="icon">
										<img src="images/2.jpg" class="img-responsive" alt=""/>
									</div>
									<div class="data">
										<h4><a href="#">Giày Jordan Xám Đen</a></h4>
										<p>2.500.000đ</p>
										<h5>2.050.000đ</h5>
									</div>
									<div class="clearfix"></div>
								</div>	
								<div class="best">
									<div class="icon">
										<img src="images/ss2.jpg" class="img-responsive" alt=""/>
									</div>
									<div class="data">
										<h4><a href="#">Giày thể thao Nike Mi Nơ</a></h4>
										<p>2.399.000đ</p>
										<h5>1.999.000đ</h5>
									</div>
									<div class="clearfix"></div>
								</div>	
						 </div>
					 
		       <section  class="sky-form">
					<div class="sellers">
							<h3 class="m_2">Hàng đang hot</h3>
							<section class="slider">
						<div class="flexslider">
							<ul class="slides">
								<li>
									<div class="tittle">
										<img src="images/shoe.jpg" class="img-responsive" alt=""/>
										<h6>Giày Jordan Nâu Đen</h6>
										<p>Thiết kế độc đáo với 2 màu chủ đạo nâu đen với những chấm nhiều màu sắc tạo điểm nhấn cho đôi giày</p>
										<a class="show1" href="details.html">Xem chi tiết</a>
									</div>
								</li>
								<li>
									<div class="tittle">
										<img src="images/12.jpg" class="img-responsive" alt=""/>
										<h6>Giày thể thao adidas</h6>
										<p>Thiết kế gọn nhẹ phù hợp với việc vận động mạnh khi chơi thể thao, có lỗ thoáng khí mạng lại cảm giác thoải mái</p>
										<a class="show1" href="details.html">Xem chi tiết</a>
									</div>
								</li>
								<li>	
									<div class="tittle">
										<img src="images/ss3.jpg" class="img-responsive" alt=""/>
										<h6>Giày Nike Đen</h6>
										<p>Phong cách cổ điển phù hợp với nhiều đối tượng học sinh, sinh viên, nhân viên đế nhẹ đàn hồi cao</p>
										<a class="show1" href="details.html">Xem chi tiết</a>
									</div>
								</li>
								<li>	
									<div class="tittle">
										<img src="images/ss5.jpg" class="img-responsive" alt=""/>
										<h6>Giày Nike Xanh Nhạt</h6>
										<p>Thiết kế trẻ trung, màu sắc bắt mắt, thích hợp mang đi chơi, một chọn lựa tốt cho các bạn trẻ</p>
										<a class="show1" href="details.html">Xem chi tiết</a>
									</div>
								</li>
							</ul>
						</div>
					</section>
				
						<!-- FlexSlider -->
							  <script defer src="js/jquery.flexslider.js"></script>
							  <script type="text/javascript">
								$(function(){
								  SyntaxHighlighter.all();
								});
								$(window).load(function(){
								  $('.flexslider').flexslider({
									animation: "slide",
									start: function(slider){
									  $('body').removeClass('loading');
									}
								  });
								});
							  </script>
						<!-- FlexSlider -->

						</div>
		       </section>
		       

	  </div>
				<div class="clearfix"></div>	
	</div>
	</div>
	</div>
<!-- details -->