<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
	<div class="banner">
		<div class="container">
		<div class="col-md-6">
		</div>
		<div class="col-md-6 banner-info">
			<h1>Chào mừng đến với Runner's Sport</h1>
			<p>Hệ thống giày Runner's Sport chuyên thiết kế và kinh doanh các mặt hàng giày dép cho giới trẻ, là cấu nối cho bạn trẻ cả nước tiếp cận với xu hướng thời trang giày trên thế giới. "Chúng tôi mang đến sự khác biệt!" - Cùng với xu hướng thời trang của thế giới Hệ thống Runner's đã và đang không ngừng đổi mới để mang đến cho các bản trẻ các mẫu giày thời trang độc đáo, mới lạ, để tiên phong cho một phong cách thời trang mới, một phong cách biểu tượng cho giới trẻ trên cả nước.</p>
			<a class="show-more" href="#">Hiển thị thêm</a>
		</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- header -->
	<div class="instock">
		<div class="container">
			<div class="col-md-6 chuk">
				
					<div class="blanc-info">
						<h3>Giày Converse Chuck Taylor 2014</h3>
						<h4>Ngay bây giờ! Miễn phí giao hàng chỉ với 1.050.000đ</h4>
						<a class="show" href="#">Xem thêm thông tin</a>
					</div>
			</div>
			<div class="col-md-6 blanc">
				
					<div class="blanc-info">
						<h3>Giày Le Blance 2014</h3>
						<h4>Ngay bây giờ! Miễn phí giao hàng chỉ với 700.0000đ</h4>
						<a class="show" href="#">Xem thêm thông tin</a>
					</div>
			</div>
			<div class="clearfix"> </div>
		</div>	
	</div>
<!-- instock -->
<div class="featured">
<div class="container">
<div class="col-md-9">
<div class="biseller-info">

<h3 class="new-models">Sản phẩm</h3>
			<ul id="flexiselDemo3">
				<li>
					<div class="biseller-column">
						<a href="details.html">
					<img src="images/1.jpg" class="img-responsive" alt="" class="veiw-img">
					</a>
						<a href="#"><i class="new"></i></a>
					<div class="biseller-name">
						<h4>Giày Jordan Nike 2017</h4>
						<p>1.250.000đ</p>
					</div>
											
					</div>
				</li>
				<li>
					<div class="biseller-column">
							<a href="details.html">
					<img src="images/2.jpg" class="img-responsive" alt="" class="veiw-img">
							</a>
						<a href="#"><i class="new"></i></a>
					<div class="biseller-name">
						<h4>Giày Jordan Xám Đen</h4>
						<p>2.050.000đ</p>
					</div>
										
					</div>
				</li>
			
				<li>
					<div class="biseller-column">
							<a href="details.html">
					<img src="images/3.jpg" class="img-responsive" alt="" class="veiw-img">
							</a>
						<a href="#"><i class="new"></i></a>
					<div class="biseller-name">
						<h4>Giày Jordan Nâu Đen</h4>
						<p>2.500.000đ</p>
					</div>
						
					</div>
				</li>
				
	     	</ul>
			
		</div>	

			<script type="text/javascript">
				 $(window).load(function() {
					$("#flexiselDemo3").flexisel({
						visibleItems: 3,
						animationSpeed: 1000,
						autoPlay: false,
						autoPlaySpeed: 3000,    		
						pauseOnHover: true,
						enableResponsiveBreakpoints: true,
				    	responsiveBreakpoints: { 
				    		portrait: { 
				    			changePoint:480,
				    			visibleItems: 1
				    		}, 
				    		landscape: { 
				    			changePoint:640,
				    			visibleItems: 2
				    		},
				    		tablet: { 
				    			changePoint:768,
				    			visibleItems: 3
				    		}
				    	}
				    });
				    
				});
			   </script>
			   <script type="text/javascript" src="js/jquery.flexisel.js"></script>
			
				<div class="best-seller">
				
					<div class="biseller-info">
					 <h3 class="new-models">Hàng mới về</h3>
					<ul id="flexiselDemo1">
						<li>
							<div class="biseller-column">
									<a href="details.html">
							<img src="images/ss6.jpg" class="img-responsive" alt="">
									</a>
							<a href="#"><i class="new"></i></a>
					<div class="biseller-name">
						<h4>Giày Nike Đỏ Đô</h4>
						<p>1.299.000đ</p>
					</div>
						
							</div>
						</li>
						<li>
							<div class="biseller-column">
									<a href="details.html">
							<img src="images/ss4.jpg" class="img-responsive" alt="">
									</a>
							<a href="#"><i class="new"></i></a>
					<div class="biseller-name">
						<h4>Giày Nike Xám</h4>
						<p>1.400.000đ</p>
					</div>
						
							</div>
						</li>
						<li>
							<div class="biseller-column">
									<a href="details.html">
							<img src="images/ss5.jpg" class="img-responsive" alt="">
									</a>
							<a href="#"><i class="new"></i></a>
					<div class="biseller-name">
						<h4>Giày Nike Xanh Nhạt</h4>
						<p>1.299.000đ</p>
					</div>
						
							</div>
						</li>
						
			     	</ul>
					</div>
		
			</div>
			<script type="text/javascript">
				 $(window).load(function() {
					$("#flexiselDemo1").flexisel({
						visibleItems: 3,
						animationSpeed: 1000,
						autoPlay: true,
						autoPlaySpeed: 3000,    		
						pauseOnHover: true,
						enableResponsiveBreakpoints: true,
				    	responsiveBreakpoints: { 
				    		portrait: { 
				    			changePoint:480,
				    			visibleItems: 1
				    		}, 
				    		landscape: { 
				    			changePoint:640,
				    			visibleItems: 2
				    		},
				    		tablet: { 
				    			changePoint:768,
				    			visibleItems: 3
				    		}
				    	}
				    });
				    
				});
			   </script>
			   <script type="text/javascript">
				 $(window).load(function() {
					$("#flexiselDemo5").flexisel({
						visibleItems: 3,
						animationSpeed: 1000,
						autoPlay: true,
						autoPlaySpeed: 3000,    		
						pauseOnHover: true,
						enableResponsiveBreakpoints: true,
				    	responsiveBreakpoints: { 
				    		portrait: { 
				    			changePoint:480,
				    			visibleItems: 1
				    		}, 
				    		landscape: { 
				    			changePoint:640,
				    			visibleItems: 2
				    		},
				    		tablet: { 
				    			changePoint:768,
				    			visibleItems: 3
				    		}
				    	}
				    });
				    
				});
			   </script>
			   <div class="best-seller">
				
					<div class="biseller-info">
					
					<ul id="flexiselDemo5">
						<li>
							<div class="biseller-column1">
									<a href="details.html">
							<img src="images/ss3.jpg" class="img-responsive" alt="">
									</a>
							<a href="#"><i class="new"></i></a>
					<div class="biseller-name">
						<h4>Giày thể thao Nike Đen</h4>
						<p>2.050.000đ</p>
					</div>
							</div>
						</li>
						<li>
							<div class="biseller-column1">
									<a href="details.html">
							<img src="images/ss1.jpg" class="img-responsive" alt="">
									</a>
							<a href="#"><i class="new"></i></a>
					<div class="biseller-name">
						<h4>Giày thể thao Nike Nâu</h4>
						<p>2.999.000đ</p>
					</div>
						
							</div>
						</li>
						<li>
							<div class="biseller-column1">
									<a href="details.html">
							<img src="images/ss2.jpg" class="img-responsive" alt="">
									</a>
							<a href="#"><i class="new"></i></a>
					<div class="biseller-name">
						<h4>Giày thể thao Nike Mi Nơ</h4>
						<p>1.999.000đ</p>
					</div>
						
							</div>
						</li>
						
			     	</ul>
					</div>
		
			</div>
			   <script type="text/javascript" src="js/jquery.flexisel.js"></script>

			<div class="clearfix"></div>
			</div>
			<div class="col-md-3 span_1_of_right">
			 <section  class="sky-form">
				   <div class="product_right">
     			<h3 class="m_2">Bộ Lọc</h3>
     			    <select class="dropdown" tabindex="10" data-settings='{"wrapperClass":"metro"}'>
            			<option value="0">Nam</option>	
						<option value="1">Du lịch</option>
						<option value="2">Thể thao</option>
						<option value="3"> Thời trang</option>
		           </select>
				   <label class="me"></label>
				   <select class="dropdown" tabindex="50" data-settings='{"wrapperClass":"metro"}'>
						<option value="1">Nữ</option>
						<option value="2">Du lịch</option>
						<option value="3">Thể thao</option>
						<option value="4">Thời trang</option>
			       </select>
				    <label class="wom"></label>
				   <select class="dropdown" tabindex="8" data-settings='{"wrapperClass":"metro"}'>
						<option value="1">Trẻ em</option>
							<option value="2">Du lịch</option>
						<option value="3">Thể thao</option>
						<option value="4">Thời trang</option>
			       </select>
				    <label class="kid"></label>
			       <select class="dropdown" tabindex="8" data-settings='{"wrapperClass":"metro"}'>
						<option value="1">Tiêu chí</option>
						<option value="2">Chống nước</option>
						<option value="3">Gọn nhẹ</option>
						<option value="4">Thoáng</option>
			       </select>
				    <label class="spo"></label>
</div>
						
				</section>
                   	 
						<div class="sellers">
							<h3 class="m_2">Khuyến mãi</h3>
								<div class="best">
									<div class="icon">
										<img src="images/1.jpg" class="img-responsive" alt=""/>
									</div>
									<div class="data">
										<h4><a href="#">Giày Jordan Nike 17 </a></h4>
										<p>1.750.000đ</p>
										<h5>1.250.000đ</h5>
									</div>
									<div class="clearfix"></div>
								</div>	
								<div class="best">
									<div class="icon">
										<img src="images/2.jpg" class="img-responsive" alt=""/>
									</div>
									<div class="data">
										<h4><a href="#">Giày Jordan Xám Đen</a></h4>
										<p>2.500.000đ</p>
										<h5>2.050.000đ</h5>
									</div>
									<div class="clearfix"></div>
								</div>	
								<div class="best">
									<div class="icon">
										<img src="images/ss2.jpg" class="img-responsive" alt=""/>
									</div>
									<div class="data">
										<h4><a href="#">Giày thể thao Nike Mi Nơ</a></h4>
										<p>2.399.000đ</p>
										<h5>1.999.000đ</h5>
									</div>
									<div class="clearfix"></div>
								</div>	
						 </div>
				
		       <section  class="sky-form">
					<div class="sellers">
							<h3 class="m_2">Hàng đang hot</h3>
							<section class="slider">
						<div class="flexslider">
							<ul class="slides">
								<li>
									<div class="tittle">
										<img src="images/shoe.jpg" class="img-responsive" alt=""/>
										<h6>Giày Jordan Nâu Đen</h6>
										<p>Thiết kế độc đáo với 2 màu chủ đạo nâu đen với những chấm nhiều màu sắc tạo điểm nhấn cho đôi giày</p>
										<a class="show1" href="details.html">Xem chi tiết</a>
									</div>
								</li>
								<li>
									<div class="tittle">
										<img src="images/12.jpg" class="img-responsive" alt=""/>
										<h6>Giày thể thao adidas</h6>
										<p>Thiết kế gọn nhẹ phù hợp với việc vận động mạnh khi chơi thể thao, có lỗ thoáng khí mạng lại cảm giác thoải mái</p>
										<a class="show1" href="details.html">Xem chi tiết</a>
									</div>
								</li>
								<li>	
									<div class="tittle">
										<img src="images/ss3.jpg" class="img-responsive" alt=""/>
										<h6>Giày Nike Đen</h6>
										<p>Phong cách cổ điển phù hợp với nhiều đối tượng học sinh, sinh viên, nhân viên đế nhẹ đàn hồi cao</p>
										<a class="show1" href="details.html">Xem chi tiết</a>
									</div>
								</li>
								<li>	
									<div class="tittle">
										<img src="images/ss5.jpg" class="img-responsive" alt=""/>
										<h6>Giày Nike Xanh Nhạt</h6>
										<p>Thiết kế trẻ trung, màu sắc bắt mắt, thích hợp mang đi chơi, một chọn lựa tốt cho các bạn trẻ</p>
										<a class="show1" href="details.html">Xem chi tiết</a>
									</div>
								</li>
							</ul>
						</div>
					</section>
				
						<!-- FlexSlider -->
							  <script defer src="js/jquery.flexslider.js"></script>
							  <script type="text/javascript">
								$(function(){
								  SyntaxHighlighter.all();
								});
								$(window).load(function(){
								  $('.flexslider').flexslider({
									animation: "slide",
									start: function(slider){
									  $('body').removeClass('loading');
									}
								  });
								});
							  </script>
						<!-- FlexSlider -->

						</div>
		       </section>
		       

	  </div>
				<div class="clearfix"></div>	
	</div>		
</div>		