<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!-- content -->
<div class="container">
<div class="women_main">
<div class="col-md-3 span_1_of_right1">
				  <section  class="sky-form">
				   <div class="product_right">
     			<h3 class="m_2">Bộ Lọc</h3>
     			    <select class="dropdown" tabindex="10" data-settings='{"wrapperClass":"metro"}'>
            			<option value="0">Nam</option>	
						<option value="1">Du lịch</option>
						<option value="2">Thể thao</option>
						<option value="3"> Thời trang</option>
		           </select>
				   <label class="me"></label>
				   <select class="dropdown" tabindex="50" data-settings='{"wrapperClass":"metro"}'>
						<option value="1">Nữ</option>
						<option value="2">Du lịch</option>
						<option value="3">Thể thao</option>
						<option value="4">Thời trang</option>
			       </select>
				    <label class="wom"></label>
				   <select class="dropdown" tabindex="8" data-settings='{"wrapperClass":"metro"}'>
						<option value="1">Trẻ em</option>
							<option value="2">Du lịch</option>
						<option value="3">Thể thao</option>
						<option value="4">Thời trang</option>
			       </select>
				    <label class="kid"></label>
			       <select class="dropdown" tabindex="8" data-settings='{"wrapperClass":"metro"}'>
						<option value="1">Tiêu chí</option>
						<option value="2">Chống nước</option>
						<option value="3">Gọn nhẹ</option>
						<option value="4">Thoáng</option>
			       </select>
				    <label class="spo"></label>
</div>
						
				</section>
                   	 
					<div class="sellers">
							<h3 class="m_2">Khuyến mãi</h3>
								<div class="best">
									<div class="icon">
										<img src="images/1.jpg" class="img-responsive" alt=""/>
									</div>
									<div class="data">
										<h4><a href="#">Giày Jordan Nike 17 </a></h4>
										<p>1.750.000đ</p>
										<h5>1.250.000đ</h5>
									</div>
									<div class="clearfix"></div>
								</div>	
								<div class="best">
									<div class="icon">
										<img src="images/2.jpg" class="img-responsive" alt=""/>
									</div>
									<div class="data">
										<h4><a href="#">Giày Jordan Xám Đen</a></h4>
										<p>2.500.000đ</p>
										<h5>2.050.000đ</h5>
									</div>
									<div class="clearfix"></div>
								</div>	
								<div class="best">
									<div class="icon">
										<img src="images/ss2.jpg" class="img-responsive" alt=""/>
									</div>
									<div class="data">
										<h4><a href="#">Giày thể thao Nike Mi Nơ</a></h4>
										<p>2.399.000đ</p>
										<h5>1.999.000đ</h5>
									</div>
									<div class="clearfix"></div>
								</div>	
						 </div>
					 
		       <section  class="sky-form">
					<div class="sellers">
							<h3 class="m_2">Hàng đang hot</h3>
							<section class="slider">
						<div class="flexslider">
							<ul class="slides">
								<li>
									<div class="tittle">
										<img src="images/shoe.jpg" class="img-responsive" alt=""/>
										<h6>Giày Jordan Nâu Đen</h6>
										<p>Thiết kế độc đáo với 2 màu chủ đạo nâu đen với những chấm nhiều màu sắc tạo điểm nhấn cho đôi giày</p>
										<a class="show1" href="details.html">Xem chi tiết</a>
									</div>
								</li>
								<li>
									<div class="tittle">
										<img src="images/12.jpg" class="img-responsive" alt=""/>
										<h6>Giày thể thao adidas</h6>
										<p>Thiết kế gọn nhẹ phù hợp với việc vận động mạnh khi chơi thể thao, có lỗ thoáng khí mạng lại cảm giác thoải mái</p>
										<a class="show1" href="details.html">Xem chi tiết</a>
									</div>
								</li>
								<li>	
									<div class="tittle">
										<img src="images/ss3.jpg" class="img-responsive" alt=""/>
										<h6>Giày Nike Đen</h6>
										<p>Phong cách cổ điển phù hợp với nhiều đối tượng học sinh, sinh viên, nhân viên đế nhẹ đàn hồi cao</p>
										<a class="show1" href="details.html">Xem chi tiết</a>
									</div>
								</li>
								<li>	
									<div class="tittle">
										<img src="images/ss5.jpg" class="img-responsive" alt=""/>
										<h6>Giày Nike Xanh Nhạt</h6>
										<p>Thiết kế trẻ trung, màu sắc bắt mắt, thích hợp mang đi chơi, một chọn lựa tốt cho các bạn trẻ</p>
										<a class="show1" href="details.html">Xem chi tiết</a>
									</div>
								</li>
							</ul>
						</div>
					</section>
				
						<!-- FlexSlider -->
							  <script defer src="js/jquery.flexslider.js"></script>
							  <script type="text/javascript">
								$(function(){
								  SyntaxHighlighter.all();
								});
								$(window).load(function(){
								  $('.flexslider').flexslider({
									animation: "slide",
									start: function(slider){
									  $('body').removeClass('loading');
									}
								  });
								});
							  </script>
						<!-- FlexSlider -->

						</div>
		       </section>
		       

	  </div>
<div class="col-md-9 w_content">
		<div class="women">
			<a href="#"><h4>Số lượng: <span>30 sản phẩm</span> </h4></a>
			<ul class="w_nav">
						<li>Sắp xếp : </li>
		     			<li><a class="active" href="#">Phổ biến</a></li> |
		     			<li><a href="#">Mới </a></li> |
		     			<li><a href="#">Giảm giá</a></li> |
		     			<li><a href="#">Giá: Thấp Cao </a></li> 
		     			<div class="clear"></div>	
		     </ul>
		     <div class="clearfix"></div>	
		</div>
		<!-- grids_of_4 -->
		<div class="grids_of_4">
		  <div class="grid1_of_4">
				<div class="content_box"><a href="details.html">
			   	  <div class="view view-fifth">
			   	   	 <img src="images/5.jpg" class="img-responsive" alt=""/>
				   	   	<div class="mask">
	                        <div class="info">Xem Nhanh</div>
			            </div>
				   	  </a>
				   </div>
				    <h4><a href="details.html"> Nike Vàng Đen</a></h4>
				     <p>Giày đá bóng, gọn nhẹ bám trụ tốt</p>
				     <span>1.200.000đ</span>
			   	</div>
			</div>
			<div class="grid1_of_4">
				<div class="content_box"><a href="details.html">
			   	  <div class="view view-fifth">
			   	   	 <img src="images/6.jpg" class="img-responsive" alt=""/>
				   	   	<div class="mask">
	                        <div class="info">Xem Nhanh</div>
			            </div>
				   	  </a>
				   </div>
				    <h4><a href="details.html"> Nike Xanh Đen</a></h4>
				     <p>Giày chạy bộ, bảo vệ tốt cổ chân</p>
				     <span>2.050.000đ</span>
			   	</div>
			</div>
			<div class="grid1_of_4">
				<div class="content_box"><a href="details.html">
			   	  <div class="view view-fifth">
			   	   	 <img src="images/7.jpg" class="img-responsive" alt=""/>
				   	   	<div class="mask">
	                        <div class="info">Xem Nhanh</div>
			            </div>
				   	  </a>
				   </div>
				    <h4><a href="details.html"> Giày Bitis</a></h4>
				     <p>Giày chơi bóng rổ, bóng chuyền</p>
				     <span>800.000đ</span>
			   	</div>
			</div>
			
		
		  <div class="grid1_of_4">
				<div class="content_box"><a href="details.html">
			   	  <div class="view view-fifth">
			   	   	 <img src="images/8.jpg" class="img-responsive" alt=""/>
				   	   	<div class="mask">
	                        <div class="info">Xem Nhanh</div>
			            </div>
				   	  </a>
				   </div>
				    <h4><a href="details.html"> Giày Móng Đá Bóng</a></h4>
				     <p>Gọn nhẹ, bám sát chân</p>
				     <span>1.350.000đ</span>
			   	</div>
			</div>
			<div class="grid1_of_4">
				<div class="content_box"><a href="details.html">
			   	  <div class="view view-fifth">
			   	   	 <img src="images/9.jpg" class="img-responsive" alt=""/>
				   	   	<div class="mask">
	                        <div class="info">Xem Nhanh</div>
			            </div>
				   	  </a>
				   </div>
				    <h4><a href="details.html"> Giày Sneaker</a></h4>
				     <p>Mang đi học, đi chơi đều đẹp</p>
				      <span>700.000đ</span>
			   	</div>
			</div>
			<div class="grid1_of_4">
				<div class="content_box"><a href="details.html">
			   	  <div class="view view-fifth">
			   	   	 <img src="images/10.jpg" class="img-responsive" alt=""/>
				   	   	<div class="mask">
	                        <div class="info">Xem Nhanh</div>
			            </div>
				   	  </a>
				   </div>
				    <h4><a href="details.html"> Giày bóng rổ </a></h4>
				     <p>Nhẹ, tăng khả năng bật nhảy</p>
				     <span>800.000đ</span>
			   	</div>
			</div>
			
		
		  <div class="grid1_of_4">
				<div class="content_box"><a href="details.html">
			   	  <div class="view view-fifth">
			   	   	 <img src="images/11.jpg" class="img-responsive" alt=""/>
				   	   	<div class="mask">
	                        <div class="info">Xem Nhanh</div>
			            </div>
				   	  </a>
				   </div>
				    <h4><a href="details.html"> Giày móng</a></h4>
				     <p>Màu mi nơ đen, nhẹ bám sát chân</p>
				     <span>1.050.000đ</span>
			   	</div>
			</div>
			<div class="grid1_of_4">
				<div class="content_box"><a href="details.html">
			   	  <div class="view view-fifth">
			   	   	 <img src="images/12.jpg" class="img-responsive" alt=""/>
				   	   	<div class="mask">
	                        <div class="info">Xem Nhanh</div>
			            </div>
				   	  </a>
				   </div>
				    <h4><a href="details.html"> Giày chạy bộ</a></h4>
				     <p>Gọn nhẹ đẹp</p>
				     <span>1.399.000đ</span>
			   	</div>
			</div>
			<div class="grid1_of_4">
				<div class="content_box"><a href="details.html">
			   	  <div class="view view-fifth">
			   	   	 <img src="images/13.jpg" class="img-responsive" alt=""/>
				   	   	<div class="mask">
	                        <div class="info">Xem Nhanh</div>
			            </div>
				   	  </a>
				   </div>
				    <h4><a href="details.html"> Giày Sneaker</a></h4>
				     <p>Mang đi chơi, cho cả nam lẫn nữ</p>
				     <span>2.100.000đ</span>
			   	</div>
			</div>
			
			<div class="clearfix"></div>
		</div>
		<!-- end grids_of_4 -->
	</div>
				<div class="clearfix"></div>	
	</div>		
</div>		
<!-- content -->